<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar App Vanilla JS</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="monthDisplay"></div>
        <div>
          <button id="backButton">Back</button>
          <button id="nextButton">Next</button>
        </div>
      </div>

      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="newEventModal">
      <form>
        <h2>New Shift</h2>
        <label for="departmentDropDown">Department</label>

        <select name="department" id="departmentDropDown">
          <option>Kitchen</option>
          <option>Sandwich Line</option>
          <option>Dishwasher</option>
          <option>Register</option>
          <option>Deli counter</option>
          <option>Office</option>
        </select>

        <label for="employeeDropDown">Employee</label>

        <select name="employee" id="employeeDropDown">
          <option>Alice</option>
          <option>Bob</option>
          <option>Charlie</option>
          <option>David</option>
          <option>Frank</option>
          <option>Greg</option>
        </select>

        <label for="dateSelect"></label>
        <input type="date" id="dateSelect" value="" name="date" />

        <label for="startTime"></label>
        <input type="time" id="startTime" name="startTime" />

        <label for="endTime"></label>
        <input type="time" id="endTime" name="endTime" />

        <button id="saveButton">Save</button>
        <button id="cancelButton">Cancel</button>
      </form>
    </div>

    <div id="deleteEventModal">
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>
    <script src="../js/main.js"></script>
  </body>
</html>
