<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Punctual - Sign</title>
  </head>
  <body>
    <main class="container" id="outsideContainer">
      <div class="row justify-content-center">
        <section class="formContainer">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el =>
          { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <form class="signupForm" action="/signup" method="POST">
            <div class="labelContainer">
              <label for="userName" class="form-label">User Name</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                name="userName"
              />
            </div>
            <div class="labelContainer">
              <label for="InputEmail" class="form-label"> Email address </label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="labelContainer">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="labelContainer">
              <label for="confirmPassword" class="form-label">
                Confirm Password
              </label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
